@import "tailwindcss";
.background-image {
    background-image: url(
  'https://www.shutterstock.com/image-vector/indian-flag-republic-day-260nw-123688834.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
  }